<h1>All Schedules</h1>
 
<table>
  <tr>
    <th>Name</th>    
	<th>Status</th>    
  </tr>
 
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.name %></td>
	  <td><%= schedule.status %></td>
	  <td><%= link_to 'Show', event_path(event) %></td>
	  <td><%= link_to 'Edit', edit_event_path(event) %></td>

    </tr>
  <% end %>
</table>